In [1]:
import numpy as np

import pandas as pd
from pandas.api.types import CategoricalDtype

% matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import linear_model as lm
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

# Plot settings
plt.rcParams['figure.figsize'] = (12, 9)
plt.rcParams['font.size'] = 12

In [3]:
data = pd.read_csv('Data/Animal_Shelter_Intake_and_Outcome.csv')
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22515 entries, 0 to 22514
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  16683 non-null  object
 1   Type                  22515 non-null  object
 2   Breed                 22515 non-null  object
 3   Color                 22515 non-null  object
 4   Sex                   22515 non-null  object
 5   Size                  22482 non-null  object
 6   Date Of Birth         16978 non-null  object
 7   Impound Number        22515 non-null  object
 8   Kennel Number         22498 non-null  object
 9   Animal ID             22515 non-null  object
 10  Intake Date           22515 non-null  object
 11  Outcome Date          22387 non-null  object
 12  Days in Shelter       22515 non-null  int64
 13  Intake Type           22515 non-null  object
 14  Intake Subtype        22515 non-null  object
 15  Outcome Type          22382 non-null  object
 16  Outcome Subtype       22082 non-null  object
 17  Intake Condition      22515 non-null  object
 18  Outcome Condition     22050 non-null  object
 19  Intake Jurisdiction   22515 non-null  object
 20  Outcome Jurisdiction  19355 non-null  object
 21  Outcome Zip Code      19287 non-null  float64
 22  Location              19287 non-null  object
 23  Count                 22515 non-null  int64
dtypes: float64(1), int64(2), object(21)
memory usage: 4.1+ MB

,Name,Type,Breed,Color,Sex,Size,Date Of Birth,Impound Number,Kennel Number,Animal ID,...,Intake Subtype,Outcome Type,Outcome Subtype,Intake Condition,Outcome Condition,Intake Jurisdiction,Outcome Jurisdiction,Outcome Zip Code,Location,Count
0,NaN,OTHER,CHICKEN,BROWN,Female,SMALL,NaN,K22-040689,VET,A409950,...,FIELD,NaN,NaN,UNKNOWN,NaN,SANTA ROSA,NaN,NaN,NaN,1
1,NaN,OTHER,GOAT,WHITE,Female,LARGE,NaN,K22-040690,AUC YARD,A409951,...,FIELD,NaN,NaN,HEALTHY,NaN,COUNTY,NaN,NaN,NaN,1
2,REMY,DOG,BEAGLE,BLACK/WHITE,Female,MED,04/11/2014,K21-039564,DS69,A406645,...,PHONE,RETURN TO OWNER,OVER THE COUNTER_WEB,UNKNOWN,PENDING,SANTA ROSA,SANTA ROSA,95407.0,"95407(38.403734, -122.736775)",1
3,*RONDE,DOG,CHIHUAHUA SH,TAN,Neutered,SMALL,07/24/2020,K21-039133,DA30,A406003,...,FIELD,ADOPTION,SCAS WEB,HEALTHY,HEALTHY,SANTA ROSA,*PETALUMA,94954.0,"94954(38.245316, -122.59871)",1
4,*SNOOP,CAT,DOMESTIC SH,GRAY,Neutered,SMALL,08/04/2019,K21-039232,CA02,A406151,...,FIELD,ADOPTION,SCAS WEB,HEALTHY,HEALTHY,SANTA ROSA,SANTA ROSA,95405.0,"95405(38.439152, -122.672541)",1